@font-face {
    font-family: 'MozillaText';
    src: url('./MozillaText.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
  }

@font-face {
  font-family: 'PlayfairItalic';
  src:url("./PlayfairItalic.ttf")format('ttf');
  font-weight: 400;
  font-style:normal;
}